.carousel .carousel-item {
  height: 45rem;
  width: 100rem;
}

.carousel-item img {
  object-fit: cover;
  min-height: 45rem;
  min-width: 70rem;
}

a.contact {
  width: 10rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

a.linkedin {
  width: auto;
}

.contact-detail .card-body {
  background-color: #f0f5f9;
  border-radius: 60%;
  text-align: left;
}
